
/*SF-Menu*/

.sf-menu{
	display: inline-block;
	float: right;
	font-size: 14px;
	line-height: 14px;
	color: #c9cdd1;
	padding-right: 2px;
}
.sf-menu ul{
	display: none;
}
.sf-menu > li{
	float: left;
}
.sf-menu > li > a{
	display: block;
	padding: 10px 2px 10px 41px;
}
.sf-menu > li > a:hover, .sf-menu > .sfHover{
	color: #e64c3c;
	text-decoration: none;
}
.sf-menu .sub-menu li{
	color: #929292;
	background: #fff;
}
.sf-menu .sub-menu .sfHover{
	color: #fff;
	background: #e64c3c;
}
.sf-menu .sub-menu li:hover{
	background: #e64c3c;
}
.sf-menu > .current > a{
	color: #e64c3c;
}
/*.sf-menu .with-ul{
	position: relative;
}
.sf-menu .with-ul:after{
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(69, 181, 168, 0);
	border-top-color: #fff;
	border-width: 5px;
	margin-left: 9px;
	z-index: 99
.sf-menu .with-ul:hover:after{
	border-top-color: #e64c3c;	
}
}*/									/*==== pointer with-ul ====*/


.sf-menu .with-ul__sub{
	position: relative;
}
.sf-menu .with-ul__sub:after{
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(69, 181, 168, 0);
	border-left-color: #fff;
	border-width: 5px;
	margin-top: -5px;
}
.sf-menu .sfHover:after{
	border-left-color: #e64c3c;
}
.sf-menu .sub-menu{
	z-index: 99;
	width: 131px;
	position: absolute;
	top: 62px;
	margin-left: -5px;
	padding: 16px 0 19px 0;
	box-sizing: border-box;
	background: #fff;
	color: #e64c3c;
	border-top: 3px solid #e64c3c;
}
.sf-menu .sub-menu a{
	display: block;
	padding: 6px 0px 6px 44px;
}
.sf-menu .sub-menu a:hover{
	text-decoration: none;
	color: #fff;
}

.sf-menu .sub-menu .sfHover{
	position: relative;
}
.sf-menu .sub-menu .sub-menu{
	z-index: 99;
	position: absolute;
	top: -16px;
	margin-left: 115%;
	border: none;
}

@media only screen and (max-width: 979px){
	.sf-menu > li > a{
		padding: 10px 2px 10px 25px;
	}
}
@media only screen and (max-width: 767px) {
	.sf-menu{
		display: none;
	}
	.sf-menu{
		line-height: 18px;
	}
	.select-menu{
		width: 100%;
		padding-top: 0px;
		padding-left: 10px;
		margin-top: 10px;
		padding: 5px 5px 5px 10px;
		line-height: 18px;
		color: #223243;
	}
}