
/*========================================================
                    1. Import
=========================================================*/

@import "grid.css";
@import "sf-menu.css";

@import url(//fonts.googleapis.com/css?family=Open+Sans:400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:700);

/*========================================================
                    2. Global
=========================================================*/

a[href^="tel:"]{
  color: inherit;
  text-decoration: none;
}
* {
  -webkit-text-size-adjust: none;
}
:focus{
	outline: medium none;
}

body{
	background-color: #f9f9f9;
	color: #797979;
	font: 13px/24px 'Open Sans';
	font-weight: 400;
}
.p-title{
	text-transform: uppercase;
}

a {
	color: inherit;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

h1{
	display: inline-block;
}
h2{
	color: #fff;
	font-weight: 700;
}
h3{
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	color: #223243;
	margin-top: -5px;
	margin-bottom: 18px;
	margin-left: 28px;
}
h4{
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	margin-bottom: 14px;
	color: #223243;
}
h5{
	font-size: 24px;
	line-height: 24px;
	font-weight: 400;
	margin-bottom: 14px;
	color: #223243;
}
img{
	width: 100%;
	height: auto;
}


/*========================================================
                    3. Main layout styles
=========================================================*/

/* Header
========================================================*/

header{
	position: relative;
	background: #223243;
	padding-top: 25px;
	padding-bottom: 21px;
}
header img{
	width: inherit;
	height: inherit;
}

/* Content
========================================================*/

.row__style{
	background: #f9f9f9;
}
.bg{
	background: #fafafa;
}
.bg-1{
	background: #fff;
}
.row_block{
	border-top: 1px solid #f3f3f3;
}
.row_block__indent-1{
	padding: 62px 0;
}
.row_block__indent-2{
	padding: 55px 0;
}
.row_block__indent-3{
	padding: 59px 0;
}

.row-with-strip .container{
	position: relative;
}
.left-strip{
	border-left: 6px solid #f3c7c2;	
	display: inline-block;
	position: absolute;
	height: 100%;
	width: 6px;
}
.left-block{
	margin-left: 27px;
}
.left-block h3{
	margin-left: 0;
}

.title__indent h3{
	margin-bottom: 30px;
}
.p__indent{
	margin-bottom: 23px;
}
.p__title{
	text-transform: uppercase;
}
p.center{
	text-align: center;
}

/* Buttons
=============================================*/

.btn{
	color: #fff;
	display: inline-block;
	height: 32px;
	margin-top: 28px;
	position: relative;
}
.btn_arrow{
	font-size: 14px;
	line-height: 14px;
	font-weight: 700;
	background: #a91000;
	display: inline-block;
	text-align: center;
	padding: 9px 0;
	width: 32px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	 -webkit-transition: all 0.1s linear 0s;
     -moz-transition: all 0.1s linear 0s;
     -o-transition: all 0.1s linear 0s;
     transition: all 0.1s linear 0s;
}
.btn_text{
	font-size: 13px;
	line-height: 13px;
	font-weight: 400;
	display: inline-block;
	text-align: center;
	padding: 10px 13px 0 45px;
	background: #e64c3c;
	height: 32px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.btn:hover .btn_arrow{
	font-size: 25px;
	 -webkit-transition: all 0.1s linear 0s;
     -moz-transition: all 0.1s linear 0s;
     -o-transition: all 0.1s linear 0s;
     transition: all 0.1s linear 0s;
}
.btn:hover .btn_text{
	text-decoration: underline;
}
.btn__in-showcase{
	height: 45px;	
}
.btn__in-showcase .btn_arrow{
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	padding: 12px 0;
	width: 45px;
}
.btn__in-showcase:hover .btn_arrow{
	font-size: 30px;
}
.btn__in-showcase .btn_text{
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
	height: 45px;	
	padding: 15px 19px 0 64px;
}

/* Icons
=============================================*/

.icon{
	width: 78px;
	height: 78px;
	border-radius: 40px;
	border: 3px solid #afafaf;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	float: left;
	margin-right: 21px;
}
.icon__center{
	float: none;
	margin: 0 auto 16px;
}
.icon i{
	position: absolute;
	top: 25px;
	left: 25px;
	font-size: 24px;
	color: #d1d1d1;
}

/* Showcase
=============================================*/
.showcase{
	position: relative;
}
.showcase_text{
	position: absolute;
	top: 22%;
}
.showcase_text h2+h2{
	padding-top: 10px;
}
.slogan__style-1{
	font-size: 30px;
	line-height: 30px;
}
.slogan__style-2{
	font-size: 80px;
	line-height: 80px;
}
.slogan__style-3{
	font-size: 48px;
	line-height: 48px;
}


/* Blocks List
=============================================*/

.blocks-list__indent{
	margin-top: 26px;
}
.blocks-list li{
	margin-top: -4px;
	margin-bottom: 53px;
}
.blocks-list__indent li{
	margin-bottom: 26px;
}
.blocks-list_img{
	max-width: 56px;
	float: left;
	margin-left: 10px;
	margin-right: 30px;
}
.blocks-list_text{
	overflow: hidden;
}
.blocks-list_text h4{
	margin-top: -1px;
}

/* Quotes
=============================================*/

blockquote{
	position: relative;
}
.quotes h3{
	display: inline-block;
	margin-bottom: 25px;
}
blockquote img{
	max-width: 33px;
	margin-right: 13px;
	float: left;
}
blockquote p{
	overflow: hidden;
	padding-top: 6px;
}
blockquote a{
	position: absolute;
	right: 83px;
	bottom: -8px;
	color: #e64c3c;
	font-size: 14px;
}
blockquote a:hover{
	text-decoration: none;
}
blockquote a:before, blockquote a:after{
	content: '';
	border-bottom: 1px solid #f3beb9;
	width: 40px;
	height: 1px;
	position: absolute;
	top: 12px;
}
blockquote a:before{
	left: -59px;
	 -webkit-transition: all 0.2s linear 0s;
     -moz-transition: all 0.2s linear 0s;
     -o-transition: all 0.2s linear 0s;
     transition: all 0.2s linear 0s;
}
blockquote a:after{
	right: -59px;
	 -webkit-transition: all 0.2s linear 0s;
     -moz-transition: all 0.2s linear 0s;
     -o-transition: all 0.2s linear 0s;
     transition: all 0.2s linear 0s;
}
blockquote a:hover:before{
	left: -45px;
	 -webkit-transition: all 0.2s linear 0s;
     -moz-transition: all 0.2s linear 0s;
     -o-transition: all 0.2s linear 0s;
     transition: all 0.2s linear 0s;
}
blockquote a:hover:after{
	right: -45px;
	 -webkit-transition: all 0.2s linear 0s;
     -moz-transition: all 0.2s linear 0s;
     -o-transition: all 0.2s linear 0s;
     transition: all 0.2s linear 0s;
}

/* List in Columns
=============================================*/

.list-col h4{
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
}


/* Info in Columns
=============================================*/

.info-col h3{
	margin-bottom: 61px;
	margin-left: 28px;
}
.info-col .info-col_title__style{
	margin-bottom: 24px;
}
.info-col_col{
	text-align: center;
	margin-left: 27px;
	padding: 37px 10px 37px;
	background: #fff;
}
.info-col_col__with-img{
	padding:0 0 37px;
	background: #fafafa;	
}
.info-col_col > i{
	font-size: 48px;
	line-height: 48px;
	color: #e64c3c;
	margin-bottom: 19px;
}
.info-col_col h4{
	margin-bottom: 7px;
}
.info-col_col__with-img h4{
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 8px;
	color: #e64c3c;
}
.info-col_col img{
	margin-top: -38px;
	margin-bottom: 27px;
}
.info-col_col__img-indent img{
	margin-top: 0;
	margin-bottom: 20px;
}
.info-col_col .info_social{
	margin-top: 21px;
	margin-left: 9px;
}
.info-col_col .info_social a:hover i{
	color: #223243;
}
.info-col_col .info_social i{
	font-size: 16px;
	line-height: 16px;
	color: #e64c3c;
	margin-right: 11px;
}

.info-col_col__indent{
	padding: 0 25px 0;
}

/* List
=============================================*/
ul.list{
	margin-top: 20px;
}
.list li + li{
	margin-top: 4px;
}
.list p{
	display: inline-block;
	position: relative;
	padding-left: 20px;
	line-height: 13px;
}
.list p:before{
	font-family: FontAwesome;
	left: 0;
	top: 0;
	content: "ï”";
	color: #e64c3c;
	position: absolute;
	pointer-events: none;
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-ms-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
}
.list a:hover p:before{
	left: 10px;
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-ms-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
}


/* Gallery
=============================================*/

.gallery-cat{
	margin-left: 30px;
	margin-top: 22px;
	margin-bottom: 32px;
}
.gallery-cat li{
	display: inline-block;
	margin-right: 30px;
}
.gallery-cat a{
	font-size: 16px;
	line-height: 16px;
	font-family: 'Open Sans';
	color: #797979;
	text-transform: uppercase;
}
.gallery-cat .selected a, .gallery-cat a:hover{
	text-decoration: none;
	color: #e75849;
}
.gallery .info-col_col{
	padding: 0;
	margin-left: 0;
	margin-bottom: 50px;
}
.gallery .info-col_col img{
	margin-bottom: 0;
}
.gallery .info-col_col p{
	padding: 0px 25px 35px;
}


.gallery .thumbs_img > div{
	margin-bottom: 23px;
}
.gallery .thumbs_img > div{
	position: relative;
}
.gallery .thumbs_img  .lbHover{
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0);
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-ms-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
}
.gallery .thumbs_img  .lbHover:hover{
	background: rgba(0,0,0,0.79);
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-ms-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
}
.gallery .thumbs_img  .lbHover span{
	font-family: 'Open Sans';
	font-size: 90px;
	line-height: 60px;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -25px;
	display: block;
	opacity: 0;
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-ms-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
}
.gallery .thumbs_img div:hover .lbHover span{
	opacity: 1;
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-ms-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
}


/* Blog
=============================================*/
.blog h3{
	margin-bottom: 24px;
}
.blog .post{
	margin-bottom: 60px;
}
.blog time{
	display: inline-block;
	float: left;
	width: 60px;
	height: 97px;
	background: #e55547;
	color: #fff;
}
.blog .post_img{
	margin-left: 60px;
}
.blog time{
	text-align: center;
	text-transform: uppercase;
	padding: 16px 0 0;
	font-size: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.blog time label{
	font-size: 14px;
	line-height: 18px;
	margin-top: 9px;
	display: block;
}
.blog .post_text{
	margin-top: -4px;
}
.blog .post_text p{
	line-height: 20px;
	margin-bottom: 19px;
}
.blog .post_text .p__title{
	line-height: 18px;
	margin-bottom: 10px;
}
.blog .post_text .btn{
	margin-top: 16px;
}

/* Map
=============================================*/
.map {
	width: 100%;
	margin-left: 0;
	margin-top: 7px;
}

.map iframe {
	border: none;
	width: 100%;
	height: 400px;
}

/* Contact
=============================================*/
.contact .grid_6{
	position: relative;
}
.contact h3{
	margin-bottom: 24px;
}
.contact_details{
	line-height: 20px;
	margin-top: 26px;
}
.contact_details .contact_text{
	margin-bottom: 19px;
}
.contact_details .adrress{
	text-transform: uppercase;
	margin-bottom: 10px;
	line-height: 18px;
}
.contact .tel span{
	display: inline-block;
	min-width: 77px;
}
.contact a{
	color: #e64c3c;
}

/* Text Block
=============================================*/

.text-block h3{
	margin-bottom: 39px;
	margin-left: 0;
}
.text-block img{
	max-width: 334px;
	float: left;
	margin-right: 20px;
}
.text-block p{
	overflow: hidden;
}
.text-block__full h3{
	margin-bottom: 18px;
}
.text-block__full p{
	margin-bottom: 25px;
}
.text-block__full .p__title{
	margin-bottom: 3px;
}
.text-block__full a{
	color: #e64c3c;
}

/* To Top Button*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    left: 51%;
    margin-left: 600px;
    overflow: hidden;
    width: 45px;
    height: 45px;
    z-index: 20;
    background-color: #a91000;

}
#toTop i{
    color: #fff;
    font-size: 34px;
    padding-top: 11px;
    padding-left: 12px;
}
#toTop:hover i{
    font-size: 40px;
    padding-top: 9px;
    padding-left: 10px;
}

/* Footer
========================================================*/

footer{
	padding: 20px 0 17px 0;
	background: #223243;
}
.pr_policy{
	font-size: 13px;
	line-height: 13px;
	text-transform: uppercase;
	color: #aeb3ba;
}


/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 1600px) {
	.slogan__style-1{
		font-size: 50px;
		line-height: 50px;
	}
	.slogan__style-2{
		font-size: 70px;
		line-height: 70px;
	}
	.slogan__style-3{
		font-size: 40px;
		line-height: 40px;
	}
	
}
@media only screen and (max-width: 1199px) {
	.showcase_text {
		top: 15%;
	}
	.slogan__style-1{
		font-size: 40px;
		line-height: 40px;
	}
	.slogan__style-2{
		font-size: 60px;
		line-height: 60px;
	}
	.slogan__style-3{
		font-size: 35px;
		line-height: 35px;
	}
  	
}

@media only screen and (max-width: 1024px) {
	
}

@media only screen and (max-width: 979px) {
	.showcase_text {
		top: 5%;
	}
	.slogan__style-1{
		font-size: 30px;
		line-height: 30px;
	}
	.slogan__style-2{
		font-size: 50px;
		line-height: 50px;
	}
	.slogan__style-3{
		font-size: 30px;
		line-height: 30px;
	}
	.btn__in-showcase{
		height: 32px;	
	}
	.btn__in-showcase .btn_arrow{
		font-size: 14px;
		line-height: 14px;
		font-weight: 700;
		padding: 9px 0;
		width: 32px;
	}
	.btn__in-showcase:hover .btn_arrow{
		font-size: 30px;
	}
	.btn__in-showcase .btn_text{
		font-size: 13px;
		line-height: 13px;
		font-weight: 700;
		height: 32px;	
		padding: 10px 13px 0 45px;
	}
	
}
@media only screen and (min-width: 768px){
	.last{
		margin-bottom: 0 !important;
		padding-bottom: 0 !important;
	}
}
@media only screen and (max-width: 767px) {
	.slogan__style-1{
		font-size: 20px;
		line-height: 20px;
	}
	.slogan__style-2{
		font-size: 30px;
		line-height: 30px;
	}
	.slogan__style-3{
		font-size: 22px;
		line-height: 22px;
	}
	.btn__in-showcase{
		margin-top: 10px;
	}
	.info img{
		margin: 27px 0 0 27px;
	}
	.blocks-list{
		margin-top: 60px;
	}
	blockquote a{
		bottom: -20px;
	}
	.list-col ul{
		margin-top: 20px;
	}.text-block img{
		float: none;
	}
	.info-col_col{
		margin-bottom: 40px;
	}
	.info-col_col__with-img img{
		padding-top: 20px;
	}
	.info-col_col__indent{
		padding-bottom: 40px;
	}
	.left-block__device{
		margin-left: 27px;
	}
	.left-block__device-1{
		padding-left: 27px;
	}
	.list li + li{
		margin-top: 15px;
	}
	.post_img{
		margin-bottom: 30px;
	}
	.contact_details{
		margin-bottom: 60px;
	}
	.info img{
		margin: 27px 0 0 0;
	}
	.blocks-list_img{
		margin-left: 25px;
		margin-right: 15px;
	}
	ul.list{
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 480px) {
	.showcase_text{
		display: none;
	}
	
}

@media only screen and (max-width: 320px) {
	
}
/*Core variables and mixins*/